* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}
h5 {
  color: white;
}

p {
  font-size: 0.875em;
  color: white;
}
.mySlides {display:none}
.w3-tag, .fa {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}


/* Set the width of the sidebar to 80px */
.w3-sidebar {width: 80px; right: 0; background: #ffffff;}
/* Add a right margin to the "page content" that matches the width of the sidebar (80px) */
#main {margin-right: 80px}

.menu {
  display: none;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
th, td {
  background-color: #000000;
  color: white;
  font-size: 120%;
}

td {
  text-align: center;
}

video {
  max-width: 100%;
  height: auto;
}

/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-right: 0}}

/* Search */
div.relative {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 40px;
  border-radius: 25px;
  margin-left: 300px;
} 
form.ask input[type=search] {
  padding: 10px 63px 10px 25px;
  margin: 0 0 8px 0;
  font-size: 17px;
  border: 1px solid grey;
  border-radius: 25px;
  width: 100%;
  max-width: 600px;
  height: 40px;
  background: #f1f1f1;
}

div.absolute button{
  position: absolute;
  top: 4px;
  right: 0;
  margin-right: 3px;
  padding: 2px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  border-radius: 25px;
  cursor: pointer;
  width:10%; 
}
form.ask button:hover {
  background: #0b7dda;
}
form.ask after {
  content: "";
  clear: both;
  display: table;
}
@media only screen and (max-width: 1000px) {div.relative {margin-left: 80px}}
@media only screen and (max-width: 800px) {div.relative {max-width: 500px}}
@media only screen and (max-width: 700px) {div.relative {max-width: 400px}}
@media only screen and (max-width: 600px) {div.relative {max-width: 300px}}
