* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}

p {
  font-size: 0.875em;
}
.mySlides {display:none}
.w3-tag, .fa {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}


/* Set the width of the sidebar to 80px */
.w3-sidebar {width: 80px;background: #ffffff;}
/* Add a left margin to the "page content" that matches the width of the sidebar (80px) */
#main {margin-right: 80px}

.menu {
  display: none;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
th, td {
  background-color: #000000;
  color: white;
  font-size: 120%;
}

td {
  text-align: center;
}

video {
  max-width: 100%;
  height: auto;
}

/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-right: 0}}

form.search input[type=search] {
  padding: 3px;
  font-size: 17px;
  border: 1px solid grey;
  float: center;
  width: 40%;
  background: #f1f1f1;
}

form.search button {
  float: center;
  width: 10%;
  padding: 3px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}
form.search button:hover {
  background: #0b7dda;
}
form.search after {
  content: "";
  clear: both;
  display: table;
}
